body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c1e29;


  /* background-color: #2d545e; */

  /* margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://c7.alamy.com/comp/2AC9845/digital-technology-on-display-html5-in-editor-for-website-development-website-html-code-on-the-laptop-display-closeup-photo-2AC9845.jpg');
  background-size: cover;
  @keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes parallax{
    0% {background-position: center 0px;}
    100% {background-position: center 400px;}
  }  */
}


